.app-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  padding: 1rem;
  border: 1px solid $color-stroke;
  border-radius: 0.8rem;

  .sub-title {
    color: $color-wheat;
  }
}

.app-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  height: max-content;
  min-height: 10rem;

  .sub-title {
    color: $color-wheat;
  }

  &__element {
    width: 36rem;
    height: 25rem;
    padding: 1rem;
    border: 1px solid $color-stroke;
    border-radius: 0.8rem;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  width: 50%;
}

@media (min-width: $breakpoint-lg-two) and (max-width: $breakpoint-xl-two) {
  .app-row {
    &__element {
      height: 32rem;
    }
  }
}

@media (max-width: $breakpoint-lg-two) {
  .app-row {
    &__element {
      height: 35rem;
    }
  }

  .buttons {
    width: 70%;
  }
}

@media (max-width: $breakpoint-lg-one) {
  .app-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    &__element {
      height: 26rem;
    }
  }

  .buttons {
    width: 100%;
  }
}

@media (max-width: $breakpoint-mobile) {
  .app-column {
    width: 100%;
  }

  .app-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    &__element {
      width: 100%;
    }
  }

  .buttons {
    flex-direction: column;
  }
}
